.infoCard {
  height: 125px;
  margin-bottom: 40px;
  text-align: center;
}
.infoCard p {
  font-size: 25px;
  font-weight: bolder;
}
.betCard {
  height: 290px;
  margin-bottom: 40px;
}
.betCard .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
