.modal-content {
  & .modal-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkgrey;

    & .modal-title {
      color: darkgrey;
      font-weight: 600;
      font-style: normal;
      font-size: 20px;
      letter-spacing: -0.02em;
    }
  }

  & .modal-body {
    & .col {
      padding: 20px 24px;
    }

    & .col-form-label {
      color: lightgray;
      font-weight: 400;
      font-style: normal;
      font-size: 12px;
    }
  }

  & .close {
    margin-left: unset;
  }

  & .modal__headerToolbar {
    display: flex;
    align-items: center;

    & button {
      margin: 0 5px;
    }
  }

  & input,
  select {
    background-color: white;
    height: 32px;
    padding: 4px 12px;
    border: 1px solid #ebf0f5;
    border-radius: 4px;
    color: darkgrey;
    font-size: 12px;
    font-weight: 400;

    &::placeholder {
      color: lightgray;
      font-weight: normal;
      font-size: 12px;
    }

    &:focus {
      box-shadow: unset;
    }
  }
}
